<article>
  <h2 class="page-title">Committees</h2>
</article>
<article>
  <h5>Highland Oaks residents have the opportunity to be involved in improving our community by joining a committee.</h5>
  <p>
    We welcome and appreciate all individuals who enrich our community by volunteering!
  </p>
  <p>
    <strong>ARC</strong> – the Architectural Review Committee receives all Modification Request Forms (MRF) submitted by
    homeowners. Each request is reviewed by a 3-person committee to ascertain compliance with our Architectural
    Standards as outlined in the Covenants and ARC Guidelines. Please refer to the Documents tab to access the MRF,
    Guidelines, and Covenants.
  </p>
  <p>
    Questions concerning the ARC may be directed to Dee Stewart at AMAG at <a
      href="mailto:admin@associationmgt.com">admin@associationmgt.com</a> or 678-407-1115.
  </p>
  <p>
    <strong>C.O.P.S.</strong> – Community Oriented Police Service. Highland Oaks is proud to be a part of the Gwinnett
    County COPS program. More information about the program can be found at: <a
      href="https://www.gwinnettcounty.com/web/gwinnett/Departments/Police/CrimePreventionUnit/COPS">https://www.gwinnettcounty.com/web/gwinnett/Departments/Police/CrimePreventionUnit/COPS</a>
  </p>
  <div class="center">
    <img src="/assets/images/COPS.jpg" class="smallImg" />
  </div>
  <p>
    For questions about our COPS program, please contact our Community Liaison Christine Weaver at <a
      href="mailto:christineweaver@bellsouth.net">christineweaver@bellsouth.net</a>
  </p>
  <p>
    <strong>Gwinnett Clean & Beautiful</strong>: Our community volunteers have partnered with the Gwinnett County Adopt
    a Road program. We have committed to keeping Ridge Road (from Buford Drive to Azalea) clean and beautiful by
    collecting trash along the road 4 times per year. More information about this program can be found at: <a
      href="http://www.gwinnettcb.org/programs/adopt-road/">http://www.gwinnettcb.org/programs/adopt-road/</a>
  </p>
  <p>
    For questions about this committee, please contact Guido Walther at <a
      href="mailto:guido.walther@alvetern.com">guido.walther@alvetern.com</a>
  </p>
  <p>
    <strong>Landscape</strong>: The landscape committee is responsible for the oversight of the contracted Landscaping
    Company. It assures that work is done properly and on a timely basis. The landscape committee also makes
    recommendations to the HOA board on landscaping changes or areas that need improvement. For questions about the
    landscaping committee, please contact Tony Mirabile at <a
      href="mailto:tonymirabile@gmail.com">tonymirabile@gmail.com</a>
  </p>
  <p>
    <strong>Neighbor to Neighbor</strong>: Are you looking for a more personal way to volunteer your time and meet your
    neighbors? Our N2N committee offers a chance to directly help one of your neighbors who may be experiencing
    financial, medical, and other resource issues that keep them from completing maintenance needs that may arise.
  </p>

  Items Available for Support:
  <ul>
    <li>Mailbox Painting (Paint Supplied)</li>
    <li>Mailbox Number Replacement</li>
    <li>Flower Bed Weeding</li>
    <li>Hedge Trimming</li>
    <li>Lawn Mowing/Edging</li>
    <li>Leave/Limb Bagging/Removal (Bags Supplied)</li>
    <li>Mulch/Pine Straw Spreading</li>
  </ul>
  <p>
    If you would like to volunteer for this committee or need to request help from volunteers, please contact Amy Rehn
    at <a href="mailto:highlandoaksn2n@gmail.com">highlandoaksn2n@gmail.com</a>.
  </p>
  <p>
    <strong>Newsletter</strong>: Our community publishes a quarterly newsletter. Each newsletter is emailed and mailed
    (or hand delivered) to each home in Highland Oaks. If you have a newsletter submission, please email Amy Rehn at <a
      href="mailto:amyrehn@bellsouth.net">amyrehn@bellsouth.net</a>. If you have not been receiving the newsletters,
    please verify your email address with AMAG.
  </p>
  <p>
    <strong>Pool and Facilities</strong>: This committee is responsible for overseeing the contracted pool company. They
    make recommendations to the HOA Board regarding all pool matters. They are also on-hand for any issues that may
    arise at the pool or in the event of an emergency. For questions or volunteer information, please contact Rene
    Hordines at <a href="mailto:highlandoakshoapresident@gmail.com">highlandoakshoapresident@gmail.com</a>
  </p>
  <p>
    <strong>Social</strong>: This committee plans and organizes several events throughout the year. Please contact Pam
    Partridge at <a href="mailto:ppart074@ung.edu">ppart074@ung.edu</a> if you have any questions or would like to
    volunteer for this committee.
  </p>
  <p>
    <strong>Tennis</strong>: The tennis committee enforces the rules of the courts and reports any maintenance issues
    that may occur. If you would like to volunteer for this committee or reserve a tennis court, please contact Rene
    Hordines at <a href="mailto:highlandoakshoapresident@gmail.com">highlandoakshoapresident@gmail.com</a>.
  </p>
  <p>
    <strong>Website</strong>: This website has been designed and is maintained by a student volunteer. If you have an
    item that you would like added, please send your information to <a
      href="mailto:highlandoakshoapresident@gmail.com">highlandoakshoapresident@gmail.com</a>.
  </p>
  <p>
    <strong>Welcome</strong>: All new residents are welcomed to our neighborhood with a friendly letter and a small
    gift. To volunteer to welcome our new friends, please contact Rene Hordines at <a
      href="mailto:HighlandOaksHOAPresident@gmail.com">HighlandOaksHOAPresident@gmail.com</a>.
  </p>
</article>