<article>
  <strong>Information:</strong>
  <p>
    Emergency:<br />
    911 or Police Non-Emergency 770-513-5100
  </p>
  
  <p>
    Animal Control and Shelter:<br />
    <a href="https://www.gwinnettcounty.com/web/gwinnett/Departments/CommunityServices/AnimalWelfareEnforcement">https://www.gwinnettcounty.com/web/gwinnett/Departments/CommunityServices/AnimalWelfareEnforcement</a><br />
    770-339-3200
  </p>
  <strong>Utilities:</strong>
  <p>
    Electricity:<br />
    Jackson EMC:<br />
    <a href="https://www.jacksonemc.com/">https://www.jacksonemc.com/</a><br />
    Street Lights - If a streetlight is out, please call Jackson Electric at (770) 963-6166 and request a replacement with LED bulb. This is the only way to get our streets converted to LED.
  </p>

  <p>
    Water:<br /> 
    Gwinnett County Water Resources:<br />
    <a href="https://www.gwinnettcounty.com/web/gwinnett/departments/water">https://www.gwinnettcounty.com/web/gwinnett/departments/water</a>
  </p>
  
  <p>
    Gas:<br /> 
    Lawrenceville Utilities:<br />
    <a href="https://www.lawrencevilleutilities.com/">https://www.lawrencevilleutilities.com/</a>
  </p>

  <p>
    Solid Waste Disposal (Trash):<br />
  </p>
  <ul>
    <li>Name: BFI WASTE SERVICES, LLC</li>
    <li>Website: <a href="https://www.republicservices.com">www.republicservices.com</a></li>
    <li>Email Address: <a href="mailto:customerfirst3703@republicservices.com">customerfirst3703@republicservices.com</a></li>
    <li>Telephone Number: 678-963-2800</li>
  </ul>
  <p>
    Pick-up day is Wednesday<br />
    Please call Gwinnett County Solid Waste Management at 770-822-7141 weekdays between 8:00am to 5:00pm to establish new service. The base fee includes weekly pickup of one 95-gallon cart of trash and one 65-gallon cart of recyclable items. The fee also includes pickup of bulky items, and white goods as scheduled in advance with your hauler. You may also email questions to <a href="mailto:gcsolidwaste@gwinnettcounty.com">gcsolidwaste@gwinnettcounty.com</a>. Customers must notify their designated hauler to schedule pickup of a bulky item or white good during weekdays from 8:00am to 5:00pm. There is no additional fee. Bulky items may include box springs, mattresses, and furniture. White goods may include appliances such as stoves, refrigerators, washers, and dryers.<br />
    Guidelines for proper disposal of white goods:
  </p>
    <ul>
      <li>Empty all appliances of food and liquids</li>
      <li>Have freon gas removed and have refrigerator tagged by certified technician</li>
    </ul>
</article>