<article>
  <strong>Information:</strong>
  <p>
    Emergency:<br />
    911 or Police Non-Emergency 770-513-5100
  </p>
  
  <p>
    Animal Control and Shelter:<br />
    <a href="https://www.gwinnettcounty.com/web/gwinnett/Departments/CommunityServices/AnimalWelfareEnforcement">https://www.gwinnettcounty.com/web/gwinnett/Departments/CommunityServices/AnimalWelfareEnforcement</a><br />
    770-339-3200
  </p>
  <strong>Utilities:</strong>
  <p>
    Electricity:<br />
    Jackson EMC:<br />
    <a href="https://www.jacksonemc.com/">https://www.jacksonemc.com/</a><br />
    Street Lights - If a streetlight is out, please call Jackson Electric at (770) 963-6166 and request a replacement with LED bulb. This is the only way to get our streets converted to LED.
  </p>

  <p>
    Water:<br /> 
    Gwinnett County Water Resources:<br />
    <a href="https://www.gwinnettcounty.com/web/gwinnett/departments/water">https://www.gwinnettcounty.com/web/gwinnett/departments/water</a>
  </p>
  
  <p>
    Gas:<br /> 
    Lawrenceville Utilities:<br />
    <a href="https://www.lawrencevilleutilities.com/">https://www.lawrencevilleutilities.com/</a>
  </p>
</article>