<article>
  <p>
    Welcome to Highland Oaks! We are a subdivision consisting of 259 homes
    in Gwinnett County in Lawrenceville, Georgia. Our amenities include a
    beautiful swimming pool, 2 tennis courts, and a pavilion with picnic
    tables and fireplace.
  </p>
  <p style="font-weight: bold;">
    Our neighborhood is an active Homeowners Association that abides by
    covenants to ensure well-maintained properties. Our HOA is managed by
    Association Management Advisory Group.
  </p>
  <p>
    Contact: <a href="mailto:admin@associationMgt.com">admin@associationMgt.com</a> or 678-407-1115
    <br />
    Website: <a href="https://www.associationmgt.com">https://www.associationmgt.com</a>
    <br />
    Account login: <a href="https://caliber.cloud/caliberweb2_amag">https://caliber.cloud/caliberweb2_amag</a>
  </p>
  <p>
    Current HOA board members may be reached at:
    <br />
    President – Dee Partridge – <a
      href="mailto:hoaboardmemberdp@gmail.com">hoaboardmemberdp@gmail.com</a>
    <br />
    Vice President - Jennifer Figueroa-Colon - <a
      href="mailto:jennifer.highlandoakshoa@gmail.com">jennifer.highlandoakshoa@gmail.com</a>
    <br />
    Vice President - Lester Wilhelm - <a href="mailto:highlandboard2@gmail.com">highlandboard2@gmail.com</a>
    <br />
    Treasurer – Joe Lishok – <a href="mailto:highlandoakshoatreasurer@gmail.com">highlandoakshoatreasurer@gmail.com</a>
    <br />
    Secretary – Andrea Van Meter – <a href="mailto:highlandoaksandrea@gmail.com">highlandoaksandrea@gmail.com</a>
    <br />
    We are always looking for new volunteers. If you are interested in serving on the board or a committee, please send
    an email to AMAG.
  </p>
  <p>
    We are located near major shopping & entertainment and only
    minutes from Route 316 and US 85. Atlanta is about 40 minute
    drive from here (map). Some of the nearby attractions include:
  </p>
  <table>
    <tr>
      <td>The Mall of Georgia</td>
      <td><a href="https://www.simon.com/mall/mall-of-georgia">https://www.simon.com/mall/mall-of-georgia</a></td>
    </tr>
    <tr>
      <td>Gwinnett Stripers Stadium</td>
      <td><a href="https://www.milb.com/gwinnett">https://www.milb.com/gwinnett</a></td>
    </tr>
    <tr>
      <td>Historic Downtown Lawrenceville</td>
      <td><a href="https://www.lawrencevillega.org">https://www.lawrencevillega.org</a></td>
    </tr>
    <tr>
      <td>Infinite Energy Center</td>
      <td><a href="https://www.infiniteenergycenter.com">https://www.infiniteenergycenter.com</a></td>
    </tr>
    <tr>
      <td>Stone Mountain Park</td>
      <td><a href="https://www.stonemountainpark.com">https://www.stonemountainpark.com</a></td>
    </tr>
    <tr>
      <td>Topgolf</td>
      <td><a href="https://www.topgolf.com/us">https://www.topgolf.com/us</a></td>
    </tr>
  </table>
  <p>Our schools:</p>
  <table>
    <tr>
      <td>Woodward Mill Elementary</td>
      <td><a
          href="http://www.gwinnett.k12.ga.us/WoodwardMillES/home.html">http://www.gwinnett.k12.ga.us/WoodwardMillES/home.html</a>
      </td>
    </tr>
    <tr>
      <td>Twin Rivers Middle School</td>
      <td><a href="http://www.gwinnett.k12.ga.us/TwinRiversMS/">http://www.gwinnett.k12.ga.us/TwinRiversMS/</a></td>
    </tr>
    <tr>
      <td>Mountain View High School</td>
      <td><a href="http://www.mtnviewhs.com/home.html">http://www.mtnviewhs.com/home.html</a></td>
    </tr>
    <tr>
      <td>Georgia Gwinnett College</td>
      <td><a href="http://www.ggc.edu/">http://www.ggc.edu/</a></td>
    </tr>
    <tr>
      <td>Gwinnett Tech</td>
      <td><a href="http://www.gwinnetttech.edu/">http://www.gwinnetttech.edu/</a></td>
    </tr>
  </table>
</article>