<article>
  <ul>
    <li>
      <a routerLink="./NewBranchTreeWayEntrance">New Branch Tree Way Entrance Sign</a>
    </li>
    <li>
      <a routerLink="./MovieNight2021">Movie Night 2021</a>
    </li>
    <li>
      <a routerLink="./EasterColoringContest2021">Easter Coloring Contest 2021</a>
    </li>
    <li>
      <a routerLink="./HolidayDecorations">Holiday Decorations</a>
    </li>
    <li>
      <a routerLink="./Repainting">Repainting</a>
    </li>
    <li>
      <a routerLink="./July4th2018">July 4th 2018 Social Event</a>
    </li>
  </ul>
</article>