<div class="gallery">
	<div class="card">
		<img src="/assets/images/images0.jpg" />
		<div>Welcome to Highland Oaks!</div>
	</div>
	<div class="card">
		<img src="/assets/images/images1.jpg" />
		<div>Pavilion and Pool</div>
	</div>
	<div class="card">
		<img src="/assets/images/images2.jpg" />
		<div>Pavilion and Grounds</div>
	</div>
	<div class="card">
		<img src="/assets/images/images3.jpg" />
		<div>Pool</div>
	</div>
	<div class="card">
		<img src="/assets/images/images4.jpg" />
		<div>Tennis Courts</div>
	</div>
	<div class="card">
		<img src="/assets/images/images5.jpg" />
		<div>Playground</div>
	</div>
	<div class="card">
		<img src="/assets/images/images6.jpg" />
		<div>Pavilion</div>
	</div>
	<div class="card">
		<img src="/assets/images/images7.jpg" />
		<div>Aerial Photo</div>
	</div>
	<div class="card">
		<img src="/assets/images/images8.jpg" />
	</div>
	<div class="card">
		<img src="/assets/images/images9.jpg" />
	</div>
	<div class="card">
		<img src="/assets/images/images10.jpg" />
	</div>
</div>
