<article>
  <ul style="display: inline-block;">
    <li>
			<a href="/assets/documents/NewsletterSpecialAddition11-2020.pdf" target="_blank">Special Addition</a>
    </li>
    <li>
			<a href="/assets/documents/HOA Fall Newsletter2020.pdf" target="_blank">Fall 2020</a>
    </li>
    <li>
			<a href="/assets/documents/HOA Summer Newsletter.pdf" target="_blank">Summer 2020</a>
    </li>
    <li>
			<a href="/assets/documents/HOA Spring Newsletter 2020.pdf" target="_blank">Spring 2020</a>
    </li>
  </ul>
  <img src="/assets/images/newsletter.png" style="float: right" />
</article>