<article>
  <ul>
    <li>
			<a href="/assets/documents/HOA Bylaws.pdf" target="_blank">Bylaws</a>
		</li>
    <li>
			<a href="/assets/documents/HOA Covenants.pdf" target="_blank">Covenants</a>
    </li>
    <li>
			<a href="/assets/documents/Leasing_Initiation_Amendment.pdf" target="_blank">Leasing Initiation Amendment</a>
    </li>
    <li>
			<a href="/assets/documents/POA_Amendment.pdf" target="_blank">POA Amendment</a>
    </li>
    <li>
      <a href="/assets/documents/Highland Oaks Homeowners Association- ARC 05-2019[11146].pdf" target="_blank">ARC Guidelines</a>
    </li>
    <li>
      <a href="/assets/documents/ARC Form.pdf" target="_blank">ARC Form</a>
    </li>
    <li>
      <a href="/assets/documents/Pool and Pavilion Rental Form.pdf" target="_blank">Pool and Pavilion Rental Form</a>
      <br />
      <a href="/assets/documents/Pool Rental Form.pdf" target="_blank">Pool Rental Form</a>
      <br />
      Due to Covid-19, the pool and pavilion are not available for rentals or gatherings of any sort. All amenities areas are limited to residents only and NO GUESTS are allowed.
    </li>
    <li>
      <a href="/assets/documents/HLOK Pool Rules.pdf" target="_blank">Pool Rules</a>
    </li>
    <li>
      <a href="/assets/documents/Updated Pool rules.pdf" download>Updated Pool Rules</a>
    </li>
    <li>
      <a href="/assets/documents/COVID Pool Rules.pdf" target="_blank">COVID Pool Rules</a>
    </li>
		<li>
			<a href="/assets/documents/2019 Review.pdf" target="_blank">2019 Review/Summary</a>
    </li>
    <li>
			<a href="/assets/documents/Reserve Study 2019.pdf" target="_blank">2019 Full Reserve Study</a>
    </li>
    <li>
      <a href="/assets/documents/Mailbox Information.pdf" target="_blank">Mailbox Information</a>
    </li>
	</ul>
</article>